

 body {
            background-image: url("../.VSCODE/WhatsApp Image 2025-11-14 at 14.48.09_9224db24.jpg") ;
            background-color: #f5f5f5;
            color: #000000;
            padding:20 ;
            line-height: 1.6;
            padding: 25px;
        }


 header {
            background: linear-gradient(to right, #8B4513, #D2691E);
            color: rgb(228, 227, 225);
            text-align: center;
            padding: 28px;
            font-size: 30px;
            font-weight: bold;
            border-radius: 10px;
            margin: 20px;
            box-shadow: 0 5px 5px rgba(255, 255, 255, 0.911);
        }
        
        nav {
            background: linear-gradient(to right, #d8ab87, #D2691E);
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            box-shadow: 0 6px 6px rgba(255, 222, 33, 0.911);
            text-align: center;
        }
        
        nav a {
            color: #8B4513;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
            font-weight: 500;
            transition: color 0.3s;
        }
        
        nav a:hover {
            color: #f1e3d8;
            text-decoration: underline;
        }
.contact-container {
    max-width: 600px; 
    margin: 40px auto;
    text-align: center;
    border: 3px solid #8f5703;
    font-size: large;
    padding: 20px;
    background-color:#e08104bb;
    border-radius: 100px;
    
}

.contact-form input
 {
    
    width: 95%;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box; 
    font-size: 16px;
    border: 2px solid #0000008c;
}



.my-links img {
    width: 35px;
    height: 35px;
    transition: 0.3s;
}

.my-links img:hover {
    transform: scale(1.15);
    opacity: 0.8;
}
.my-links {
   
    text-align: center;
 
}