
        
        body {
            background-image: url("../.VSCODE/WhatsApp Image 2025-11-14 at 14.48.09_9224db24.jpg") ;
            background-color: #f5f5f5;
            color: #000000;
            padding:20 ;
            line-height: 1.6;
            padding: 25px;
        }
        
        header {
            background: linear-gradient(to right, #8B4513, #D2691E);
            color: rgb(228, 227, 225);
            text-align: center;
            padding: 28px;
            font-size: 30px;
            font-weight: bold;
            border-radius: 10px;
            margin-bottom: 20px;
             box-shadow: 0 5px 5px rgba(255, 255, 230, 0.911);
        }
        
        nav {
            background: linear-gradient(to right, #d8ab87, #D2691E);
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            box-shadow: 0 6px 6px rgb(255, 227, 67);
            text-align: center;
        }
      
        nav a {
            color: #8B4513;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
            font-weight: 500;
            transition: color 0.3s;
        }
        
        nav a:hover {
            color: #f1e3d8;
            text-decoration: underline;
        }
        .div {
          text-align: center;
        }

        
        .content {
            
            padding: 30px;
            border-radius: 10px;
            margin-bottom: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .content p {
            font-size: 22px;
            margin-bottom: 25px;
            color:#000000;
            text-align: center;
            line-height: 1.8;
        }
        
        video {
            
            display: block;
             margin:auto ;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            max-width: 100%;
            height: auto;
        }
      

.my-links img {
    width: 35px;
    height: 35px;
    transition: 0.3s;
    
}

.my-links img:hover {
    transform: scale(1.15);
    opacity: 0.8;
    
}
.my-links {
    text-align: center;
    
}