

body {
  background: #f5f5f5;
     background-image: url("../.VSCODE/WhatsApp Image 2025-11-14 at 14.48.09_9224db24.jpg") ;
  color: #333;
}



  header {
            background: linear-gradient(to right, #8B4513, #D2691E);
            color: rgb(228, 227, 225);
            text-align: center;
            padding: 28px;
            font-size: 30px;
            font-weight: bold;
            border-radius: 10px;
            margin-bottom: 25px;
             box-shadow: 0 5px 5px rgba(252, 252, 252, 0.911);
        }
        
        
         nav {
    background: linear-gradient(to right, #d8ab87, #D2691E);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 6px 6px rgba(255, 244, 83, 0.911);
    text-align: center;
}

   nav a {
            color: #8B4513;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
            font-weight: 500;
            transition: color 0.3s;
        }
         nav a:hover {
            color: #f1e3d8;
            text-decoration: underline;
        }
        
   
       .container { 
        text-align: center;
  margin: 25px 0;}              

.container {
  width: 80%;
  max-width: 1000px;
  margin: 30px ;
}



.menu-card {
  background: white;
  border: 1px solid #000000;
  padding: 1px;
  border-radius: 6px; 
  width: 33.3%; 
  display: inline-block;
  height: 25%;
}

.menu-card img {
  width: 100% ;
  border-radius: 4px;
}

.menu-info h4 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.menu-info p {
  font-size: 13px;
  color: #555;
  margin-bottom: 10px;
}

.menu-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
}

.add-btn {
  padding: 5px 10px;
  border: none;
  background: #333;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}


footer {
  text-align: center;
  margin-top: 30px;
  padding: 15px;
  color: #333;
  font-size: 14px;
}
table{
display: inline-block;

}



.my-links img {
    width: 35px;
    height: 35px;
    transition: 0.3s;
     padding-top: 15px;

}

.my-links img:hover {
    transform: scale(1.15);
    opacity: 0.8;
}