 body {
            background-image: url("../.VSCODE/WhatsApp Image 2025-11-14 at 14.48.09_9224db24.jpg") ;
            background-color: #f5f5f5;
            color: #000000;
            padding:20 ;
            line-height: 1.6;
            padding: 25px;
        }
 header {
            background: linear-gradient(to right, #8B4513, #D2691E);
            color: rgb(226, 220, 220);
            text-align: center;
            padding: 1px;
            font-size: 15px;
            font-weight: bold;
            border-radius: 10px;
            margin-bottom: 20px;
          box-shadow: 0 4px 4px rgba(255, 255, 255, 0.911)
        }
        
         nav {
    background: linear-gradient(to right, #d8ab87, #D2691E);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 6px 6px rgba(255, 243, 75, 0.911);
    text-align: center;
}
        
    nav a {
            color: #8B4513;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
            font-weight: 500;
            transition: color 0.3s;
        }
        
        nav a:hover {
            color: #f1e3d8;
            text-decoration: underline;
        }
                     

    
.login-box{
    width: 350px;
    background: #e08104bb;
    margin: 40px auto;
    padding: 25px;
    border-radius: 100px;
    text-align: center;
    border: 4px solid #0c0a078c;
}



.login-box input{
    width: 80%;
    padding: 12px;
    margin-top: 12px;
    border: 2px solid #0f0c0c;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
}

.login-box input:focus{
    border-color: #6a2b37;
}

.forgot{
    display: block;
    margin: 15px;
    font-size: 14px;
    color: #6a2b37;
    text-decoration: none;
}
.forgot a:hover {
    text-decoration: underline;
     text-decoration: underline;
}



.login-btn{
    width: 100%;
    padding: 10px;
    background: #f5f5f5; 
    color: #000;
    border: 1px solid #999;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}



.signup-text{
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a{
    color: #6a2b37;
    text-decoration: none;
}


.my-links img {
    width: 35px;
    height: 35px;
    transition: 0.3s;
}

.my-links img:hover {
    transform: scale(1.15);
    opacity: 0.8;
}
.my-links {
  text-align: center;
  margin: 25px 0;
}